body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

a {
  color: #f0d8d9;
  text-decoration: none;
}

body {
  font-family: "Lato", Verdana, sans-serif;
  padding-top: 95px;
}

.header {
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0;
}

.header__wrapper {
  margin: auto;
  padding: 30px 20px 17px 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.header__burger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
}

.burger>div {
  background-color: #E5E5E5;
  width: 25px;
  height: 2.4px;
  border-radius: 2px;
  margin: 27%;
}

.wrapper {
  max-width: 1020px;
  margin: auto;
  box-sizing: border-box;

}

.logo {
  line-height: 30px;
  font-size: 25px;
  font-weight: 700;
  color: #ffffff;
}

.logo__symbol {
  color: #f06c64;
}

.navigation__item {
  position: relative;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  padding: 14px 14px 16px 15px;
  cursor: pointer;
}

.navigation__item:hover {
  text-decoration: underline;
}

.navigation__item::before {
  content: ".";
  color: #ffffff;
  position: absolute;
  left: -2px;
  top: 11px;
}

.navigation__item-current > a {
  color: #f06c64;
}

.navigation__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0 5px 0 0;
}


.slider {
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
  box-sizing: border-box;
}

.slider__wrapper {
  display: flex;
  flex-direction: row;
}

.slider__button {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.slider__button:hover {
  background-color: #f17a73;
}

.slider__content {
  position: relative;
  margin: 0 auto;
  width: 80%;
  padding-bottom: 58.2%;
  overflow: hidden;
  transition: all 1s ease;
}

.slider__content--hidden {
  display: none;
}

.slider__chevron {
  position: relative;
  top: -6px;
}

.slider__item {
  position: absolute;
  display: none;

  width: 100%;
  height: 100%;

  animation: 0.5s ease-in-out;
}

.slider__item--active,
.slider__item--next {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider__item--to-left {
  animation-name: left;
}

.slider__item--to-right {
  animation-name: right;
  animation-direction: reverse;
}

.slider__item--from-left {
  animation-name: left;
  animation-direction: reverse;
}

.slider__item--from-right {
  animation-name: right;
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

.iphones {
  position: relative;
  height: 100%;
  width: 100%;
}

.iphones__iphone1-container {
  width: 26.8%;
  padding-bottom: 56.2%;
  position: absolute;
  top: 9%;
  left: 1%;
}

.blue-iphones {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.blue-iphones__img {
  position: absolute;
  width: 120%;
  height: auto;
  left: -10%;
}

.clickable {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  border-radius: 33px;
  border: 1px solid #00000000;
}

.iphones__iphone2-container {
  width: 56.5%;
  padding-bottom: 26.5%;
  position: absolute;
  top: 29.5%;
  left: 39.5%;
}

.iphones__iphone1 {
  position: absolute;
  top: -15%;
  width: 266%;
  height: auto;
}

.iphones__iphone2 {
  position: absolute;
  top: -48.8%;
  left: -14%;
  width: 126%;
  height: auto;
}

.black-screen:before {
  content: '';
  position: absolute;
  background-color: black;
  z-index: 1;
}

.iphones__iphone1-container.black-screen:before {
  width: 87%;
  height: 73%;
  top: 14%;
  left: 7%;
}

.iphones__iphone2-container.black-screen:before {
  width: 72.7%;
  height: 87.7%;
  top: 6%;
  left: 13%;
}

.services {
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.services__wrapper {
  padding-top: 59px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 47px;
}

.services__title {
  font-size: 30px;
  color: #666d89;
  margin-bottom: 18px;
  font-weight: 900;
}

.services__description {
  line-height: 30px;
  font-weight: 300;
  font-size: 18px;
  color: #767e9e;
  letter-spacing: 0.15px;
  text-align: justify;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 28px;
  justify-content: space-between;
}

.services__item {
  width: 31.8%;
  padding: 1.6% 0;
}

.service-item__content {
  padding-left: 80px;
}

.service-item__title {
  display: block;
  font-size: 18px;
  color: #666d89;
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 900;
  margin-bottom: 8px;
}

.service-item__description {
  font-size: 12px;
  color: #767e9e;
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 400;
  line-height: 21.5px;
  height: 60px;
  overflow: hidden;
  display: inline-block;
  text-align: justify
}

.service-item__picture {
  float: left;
  margin-top: 5px;
}

.portfolio {
  border-bottom: 6px solid #323746;
  background-color: #2d303a;
}

.portfolio__wrapper {
  padding-top: 60px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 57px;
}

.portfolio__title {
  font-size: 30px;
  color: #666d89;
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 900;
  margin-bottom: 22px;

}

.portfolio__description {
  font-size: 18px;
  color: #767e9e;
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 300;
  margin-bottom: 6px;
  text-align: justify;
}

.portfolio__filters {
  margin-top: 15px;
}

.filters__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}


.filter {
  font-size: 12px;
  line-height: 19px;
  color: #767e9e;
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 400;
  text-align: left;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #666d89;
  padding-left: 7px;
  padding-right: 7px;
  margin-right: 8px;
  letter-spacing: 0.15px;
  word-spacing: -1px;
}

.filter--current {
  font-size: 12px;
  line-height: 20px;
  color: #dedede;
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 400;
  text-align: left;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #c5c5c5;
}

.filter:last-child {
  padding-right: 4px;
  padding-left: 5px;
}

.filter:nth-child(3) {
  padding-right: 5px;
}

.filter:hover {
  text-decoration: underline;
}

.projects {
  margin-left: -10px;
  margin-right: -10px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 8px;
}

.projects__project {
  position: relative;
  margin: 10px;
  flex: 1 0 20%;
  cursor: pointer;
}

.projects__project::before {
  content: '';
  float: left;
  padding-top: 85%;
}

.projects__img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.projects__project--active {
  border: 5px solid #F06C64;
  cursor: none;
}

.projects__project:nth-child(n+13) {
  display: none;
}

.about {
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.about__wrapper {
  padding: 59px 40px 67px;
}

.about__title {
  font-size: 30px;
  color: #666d89;
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 900;
  text-align: left;
}

.about__description {
  padding-top: 18px;
  line-height: 30px;
  font-size: 18px;
  color: #767e9e;
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 300;
  text-align: justify;
}

.about__content {
  padding-top: 45px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.face {
  width: 100%;
  height: auto;

}

.person {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  color: #767e9e;
  text-align: left;
  flex-direction: column;
  width: 32%;
}

.person__title {
  color: #666d89;
  font-size: 18px;
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 900;
  text-align: left;
  padding-top: 12px;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
}

.person__photo-x {
  margin-right: 2px;
}

.person__description {
  padding-top: 8px;
  font-size: 12px;
  line-height: 21px;
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 400;
  text-align: justify;
}

.social-links {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 24px;
}

.quote {
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.quote__wrapper {
  padding: 59px 40px 28px;
}

.quote__title {
  font-size: 30px;
  color: #f0d8d9;
  letter-spacing: -0.1px;
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 900;
}

.quote__description {
  max-width: 940px;
  font-size: 18px;
  color: #f0d8d9;
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 300;
  padding-top: 20px;
  line-height: 29px;
  letter-spacing: 0.15px;
  text-align: justify;
}

.form__contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.quote__form {
  width: 66%;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #f2888b;
  font-size: 12px;
  line-height: 14px;
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 400;
  text-align: left;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #f2888b;
  font-size: 12px;
  line-height: 14px;
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 400;
  text-align: left;
}

:-ms-input-placeholder { /* IE 10+ */
  color: #f2888b;
  font-size: 12px;
  line-height: 14px;
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 400;
  text-align: left;
}

:-moz-placeholder { /* Firefox 18- */
  color: #f2888b;
  font-size: 12px;
  line-height: 14px;
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 400;
  text-align: left;
}


.input__top {
  margin-top: 44px;
}

.input {
  border-radius: 5px;
  border: none;
  background-color: #d6564f;
  margin-bottom: 16px;
  width: 100%;
  padding: 12px 14px;
  line-height: 14px;
  box-sizing: border-box;
}

.area {
  resize: none;
  padding-bottom: 8px;
}

.sub {
  width: 25%;
  height: 7%;
  padding: 6px 50px 10px;
  background-color: #d6564f;
  border-radius: 5px;
  border: none;
  color: #f0d8d9;
}

.inform {
  width: 32%;
}

.contacts {
  display: flex;
  flex-direction: column;
  padding-top: 42px;
}

.quote__contact-title {
  font-size: 18px;
  color: #f0d8d9;
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 900;
}

.quote__contacts-description {
  font-size: 12px;
  color: #f0d8d9;
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 400;
  padding-top: 8px;
  line-height: 22px;
  letter-spacing: -0.03px;
  text-align: justify;

}

.quote__contacts-information {
  height: 175px;
  list-style: none;
  font-size: 12px;
  color: #f0d8d9;
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 400;
  padding-top: 23px;
}

.contacts__link {
  font-size: 12px;
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 400;
  margin-bottom: 6px;
}

.link__text {
  margin-left: 10px;
}

.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 22px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  align-items: center;
}

.footer {
  background-color: #2d303a;
}

.footer__copyright {
  box-sizing: border-box;
  font-size: 12px;
  line-height: 22px;
  color: #626984;
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 400;
  text-align: left;
}

.footer__social--dark {
  display: flex;
  flex-direction: row;
}

.location {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  height: 12px;
  width: 13px;
  vertical-align: middle;
  padding-bottom: 1px;
  background-size: 8px;
  background-image: url("assets/location.svg");
}

.phone {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  height: 12px;
  width: 13px;
  color: #f0d8d9;
  padding-bottom: 1px;
  background-size: 12px;
  background-image: url("assets/phone.svg");
}

.mail {
  display: inline-block;
  background-repeat: no-repeat;
  height: 7px;
  width: 13px;
  color: #f0d8d9;
  vertical-align: middle;
  padding-bottom: 1px;
  background-size: 13px;
  background-image: url("assets/mail.svg");
}


/*ICONS*/

.picture {
  border: 2px solid #666d89;
  border-radius: 40px;
  display: inline-block;
  width: 55px;
  height: 55px;
  background-repeat: no-repeat;
  background-position: center;
}

.social--dark {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 16px;
  border: 1px solid #656d89;
  background-position: center;
  color: #656d89;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-left: 8px;
}

.social--light {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 16px;
  border: 1px solid #666d89;
  background-position: center;
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-right: 8px;
}

.icon-design {
  background-image: url("assets/design.svg");
}

.icon-ideas {
  background-image: url("assets/idea.svg");
}

.icon-love {
  background-image: url("assets/love.svg");
}

.icon-layout {
  background-image: url("assets/layout.svg");
}

.icon-support {
  background-image: url("assets/support.svg");
}

.icon-star {
  background-image: url("assets/star.svg");
}

.icon-chevron {
  width: 16px;
  height: 27px;
  background-repeat: no-repeat;
  display: inline-block;
}

.icon-chevron--left {
  background-image: url("assets/chevron.svg");
}

.icon-chevron--right {
  background-image: url("assets/chevron.svg");
  transform: rotate(180deg);

}

.icon-facebook--dark {
  background-image: url("assets/face.svg");
  background-size: 8px;
}

.icon-facebook--dark:hover {
  background-color: #29487d;
}

.icon-google--dark {
  background-image: url("assets/goog.svg");
  background-size: 14px;
}

.icon-google--dark:hover {
  background-color: #de5246;
}

.icon-twitter--dark {
  background-image: url("assets/twit.svg");
  background-size: 15px;
}

.icon-twitter--dark:hover {
  background-color: #71C9F8;
}

.icon-linkedin--dark {
  background-image: url("assets/linke.svg");
  background-size: 15px;
}

.icon-linkedin--dark:hover {
  background-color: #0073b1;
}

.icon-facebook--light {
  background-image: url("assets/facebook.svg");
  background-size: 8px;
}

.icon-facebook--light:hover {
  background-color: #29487d;
}

.icon-google--light {
  background-image: url("assets/google+.svg");
  background-size: 14px;
}

.icon-google--light:hover {
  background-color: #de5246;
}

.icon-twitter--light {
  background-image: url("assets/twitter.svg");
  background-size: 15px;
}

.icon-twitter--light:hover {
  background-color: #71C9F8;
}

.icon-linkedin--light {
  background-image: url("assets/linkedin.svg");
  background-size: 15px;
}

.icon-linkedin--light:hover {
  background-color: #0073b1;
}

.modal {
  font-family: "Lato", Verdana, sans-serif;
  position: fixed;
  top: 30%;
  left: 36%;
  background-color: #ffffff;
  color: #696565;
  width: 400px;
  line-height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
}

.modal__close {
  padding: 6px 50px 10px;
  width: 95%;
  height: 15%;
  background-color: #d6564f;
  border-radius: 5px;
  border: none;
  color: #f0d8d9;
}

.modal__description {
  max-height: 250px;
  overflow: hidden;
}

.ancher {
  position: relative;
  top: -95px;
  visibility: hidden;
}


@media (max-width: 1019px) {
  .services__wrapper {
    padding-top: 4.9%;
    padding-right: 7.4%;
    padding-bottom: 48px;
  }

  .services__list {
    padding-top: 1.5%;
    padding-right: 3%;
  }

  .services__item {
    width: 45.6%;
    padding: 3.8% 0;
  }

  .projects {
    margin-top: 10px;
  }

  .portfolio__description {
    word-spacing: 3px;
    line-height: 26px;
  }

  .projects__project {
    flex-basis: 25%;
  }

  .about__wrapper, .quote__wrapper {
    padding-top: 53px;
    padding-bottom: 69px;
  }
  .about__content {
    padding-top: 37px;
  }
  .person__title {
    padding-top: 5px;
  }

  .person__description {
    padding-top: 2px;
  }

  .social-links {
    padding-top: 12px;
  }

  .input__top {
    margin-top: 26px;
  }
  .input {
    margin-bottom: 12px;
  }
  .quote__form {
    width: 64%;
  }
  .contacts {
    padding-top: 24px;
  }
  .quote__contacts-description {
    padding-top: 0;
  }
  .quote__contacts-information {
    padding-top: 14px;
  }
  .area {
    height: 158px;
  }
}

@media (max-width: 767px) {
  body {
    padding-top: 71px;
  }

  .navigation {
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 999;
    display: flex;
    margin: 0;
    height: 100vh;
    width: 74.1333%;
    background-color: #2d303a;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
    transition: left 0.6s;
  }

  .header__wrapper {
    padding: 20px 14px 15px 30px
  }

  .header__logo {
    margin: auto;
  }

  .logo {
    font-size: 20px;
  }
  .logo--open {
    z-index: 1000;
    margin-left: 40px;
  }

  .header__burger {
    position: absolute;
    top: 16px;
    left: 6px;
    display: block;
    width: 40px;
    height: 40px;
  }
  .header__burger--open {
    transform: rotate(90deg);
    z-index: 1000;
    top: 8px;
    left: 12px;
  }

  .navigation {
    display: none;
  }

  .navigation--open {
    left: 0;
    display: block;
  }

  .navigation__list {
    padding: 219px 5px 0 56px;
    flex-direction: column;
  }
  .navigation__item {
    font-size: 24px;
    font-weight: bold;
    line-height: 27px;
  }
  .navigation__item:before {
    display: none;
  }

  .services__item {
    width: 100%;
  }

  .projects__project {
    margin: 6px;
    flex-basis: 32%;
  }
  .services__wrapper {
    padding-left: 32px;
    padding-bottom: 7px;

  }
  .services__list {
    padding-top: 5.5%;
  }

  .services__item {
    padding: 4.3% 0;
  }
  .portfolio__wrapper {
    padding-top: 43px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }

  .portfolio__filters {
    margin-top: 24px;
  }
  .projects {
    margin-right:  -7px;
    margin-left: -7px;
  }
  .projects__project:nth-child(n+9) {
    display: none;
  }
  .about__wrapper {
    padding: 33px 30px 40px;
  }

  .about__description {
    letter-spacing: .5px;
  }

  .about__content {
    padding-top: 23px;
  }

  .person-list {
    flex-wrap: wrap;
  }
  .person {
    width: 100%;
  }
  .person__title {
    padding-top: 12px;
  }

  .person+.person {
    margin-top: 35px;
  }

  .quote__wrapper {
    padding: 43px 30px 28px;
  }

  .quote__form {
    width: 100%;
  }
  .quote__contacts-information {
    height: auto;
  }
  .sub {
    width: 100%;
    height: 14%;
  }

  .inform {
    margin-top: 27px;
    width: 100%;
  }

  .footer__copyright {
    display: none;
  }
  .footer__social--dark {
    margin: auto;
  }

}